*{
    margin:0;
    padding: 0;
}

/* header */
.header{
    width:1200px;
    height:113px;
    margin:0px auto;        /* 2개의 인자값은 위-아래, 왼쪽-오른쪽 (가운데 정렬)*/
}

.header > * ,.navigation > *{
    display: inline-block;
    vertical-align: top;
}

.header h1{
    position: relative;
    width:240px;
    height:113px;
    background:url("../img/image__logo.png");
    background-size:240px 113px;
    background-position: -40px 0px;
}

.header .search{
    width:553px;
    height:48px;
    border:2px solid #067dfd;
    border-radius: 24px;
    margin-top: 40px;
    margin-left: -45px;
    box-sizing: border-box;
}

.header .search input{
    width:480px;
    margin-top: 10px;
    font-size: 16px;
    color:black;
    line-height: 29px;
    margin-left: 20px;
    border:0;
    outline: 0;
}

.header .search button{
    width:22px;
    height: 22px;
    background:url("../img/image__header-search.png");
    background-size: 22px 22px;
    border:0;
    margin-top: 10px;
    margin-left: 1px;
}

.header .ad{
    width:182px;
    height:70px;
    margin-top: 25px;
    margin-left: 36px;
}

.header .ad button{
    width:182px;
    height:70px;
    background: url("../img/11cd9263dee945ec.jfif");
    background-size: 182px 70px;
    border:0;
}

.header .user-menu{
    width:220px;
    height:80px; 
    display: inline;   
} 

.header .user-menu button{
    width:40px;
    height:38px;
    border: 0;
    cursor:pointer;
    margin-top: 45px;
    margin-left: 28px;
}

.header .user-menu .profile{
    background:url("../img/image__header-mypage.svg");
}

.header .user-menu .recent{
    background:url("../img/image__header-recent.svg");
}

.header .user-menu .cart{
    background: url("../img/image__header-cart.svg");
}


/* 상단 메뉴*/ 
.navigation{
    width:1200px;
    height:60px;
    margin:0px auto;
}

.navigation .category{
    display:inline-block;
    width: 224px;
    height: 60px;
    text-align: center;
    background-color: #10af29;
    color: white;
    line-height: 60px;
    font-weight: bold;
    border-bottom: solid 1px #3da64b;
}

.navigation .category::before{
    content: '';
    background: url("../img/sprite__common.png");
    background-position: -251px -41px;
    background-size: 400px auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
    height: 21px;
    margin-left: -27px;
    width: 26px;
    margin-right: 25px;
}

.navigation .service-all ul{
    vertical-align: top;
    margin-top:19px;
    list-style: none;
    margin-left: 1px;
    font-size: 15px;
    
}

.navigation .service-all ul li{
    display: inline-block;
    margin-left: 18px;
}

.navigation .service-all ul .smile{
    color:#ad834b;
}

.navigation .service-all ul .new::after{
    content: 'N';
    width:10px;
    height:10px;
    font-size:1px;
    color:white;
    background-color:#e35944;
    display: inline-block;
    text-align: center;
    border-radius:50%;
    position: absolute;
}

.navigation .user-service{
    margin-top: 22px;
    width: 231.15px;
    height: 40px;
    position: absolute;
    right:265px;
}

.navigation .user-service li + li::before{
    content: '| ';
    width:1px;
    height:10px;
    color:#777;
    
}

.navigation .user-service .global::after{
    content: '';
    background: url("../img/sprite__common.png");
    display: inline-block;
    vertical-align: top;
    background-position: -338px -108px;
    background-size: 400px auto;
    margin-top: -3px;
    height: 15px;
    margin-left: -2px;
    width: 15px;
}
.navigation .user-service ul li{
    display: inline-block;
    vertical-align: top;
}
.navigation .user-service ul {
    list-style: none;
    display: inline-block;
    
    font-size: 13px;
    color: #777;
}

hr{
    border:solid 1px #d5ddd8;
}

/* 베너 category */
.baner .center{
    position:relative;
    width:1200px;
    height:404px;
    margin:0px auto;
    overflow: hidden;
}
.baner .center .category{
    position: absolute;
    color:white;
    background-color:#0abb26;
    display: inline-block;
    list-style: none;
    line-height: 44px;
    z-index: 1;
}

.baner .center .category li{
    width:224px;
    height:44px;
    font-size:14px;
    text-indent: 27px;          /* 들여쓰기 */
    z-index: 1;
    overflow:hidden;
}

.baner .category li + li{
    border-top: solid 1px #62bf66;
    
}

/* 베너  slider */
.baner .center .slider{
    width:976px;
    height:400px;
    position:absolute;
    left: 224px;
}
.baner .center .slider ul li{
    display:inline-block;
}
.baner .center .slider ul{
    list-style: none;
    width:2000px;
    transform: translateX(-976px);
    transition: transform 0.5s 0s ease;
}

/* best */
.best{
    width:1200px;
    height:376px;
    margin:50px auto;
}

.best h2{
    font-family: Gmarket Sans,'Gmarket Sans',sans-serif;
    font-weight: 900;
    font-size:24px;
}

.best .product{
    display: inline-block;
    list-style: none;
    margin: 20px
}

.best .product li{
    display: inline-block;
    width: 224px;
    vertical-align: top;
    margin-right: 3px;
}

.best .product li .box-image{
    height: 224px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #eaeaea;
}

.best .product li .box-image img{
    width:224px;
    height:224px;
    transition: transform 0.2s 0s ease;
}

.best .product li .box-image img:hover{
    transform :scale(1.1);
}

.best .product li .info{
    margin: 20px 0px;
    text-align: center;
}

.best .product li .info .name{
    font-size:14px;
}

.best .product li .info .price{
    margin-top:20px;
}

.best .product li .info .price .value{
    font-family: Gmarket Sans,'Gmarket Sans',sans-serif;
    font-size:19px;
    font-weight: 900;
}

