
#main_logo{
    position: relative;
    left:255px;
    top:-5px;
    width:235px; height:109px;
}

.search{
    position: absolute;
    left:498px;
    top:40px;
}
#search{
    width:545px;
    height:43px;
    border-radius: 25px;
    border: 2px solid #327ff5;
    margin: 0 auto;
}
input:focus{
    outline: none;
}

#search_icon{
    position: absolute;
    right:25px;
    top:13px;
    width:23px;
    height:23px;
}

.ad{
    position:absolute;
    right:520px;
    top:30px;
}

#ad_icon{
    width:180px;
    height:75px;
}

.mypage{
    position: absolute;
    right:445px;
    top:44px;
}

.recent{
    position: absolute;
    right:370px;
    top:44px;
}

.cart{
    position: absolute;
    right:300px;
    top:44px;
}