<!DOCTYPE html> 
<html>
    <head>
        <title>G마켓 - 쇼핑을 바꾸는 쇼핑</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <a href="main.html" ><img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__logo.png" id="main_logo"></a>      <!-- 메인 로고-->
            <div class="search">
                <input type="text" id="search" value="     ">
                <a href="#"><img id = "search_icon" src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-search.png"></a>     <!-- 검색 아이콘 -->
            </div>
            
            <div class="ad">
                <a href="#"><img id="ad_icon" src="https://ad-img.ebaykorea.com/ADS/Contents_/2021_08_27_11_02_23/6097d8c0904e421b.JPG"></a>     <!-- 광고 -->
            </div>
            
            <div class="mypage">
                <a href="#"><img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-mypage.svg"></a>     <!-- 사람 -->
            </div>
            <div class="recent">
                <a href="#"><img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-recent.svg"></a>     <!-- 네모 -->
            </div>
            <div class="cart">
                <a href="#"><img src="https://pics.gmarket.co.kr/pc/single/kr/common/image__header-cart.svg"></a>       <!-- 장바구니-->    
            </div>
            
            
        <header>    
    </body>
</html>